:root {
  --primary-text-color: #212121;
  --duo-text-color: #757575;
  --accent-color: #2196f3;
  --font--color: #ffffff;
  --color-filters: #f5f4fa;
  --color-futter: #2f303a;
  --color-font-posters: #eeeeee;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--font--color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
}


main,
header > a {
  letter-spacing: 0.03em;
}


.visible-hidden {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
/* КОНТЕЙНЕР */

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding: 94px 0;
}

.title {
  margin-bottom: 50px;
}
/* основной цвет текста #212121 */
/* вторичный цвет текста #757575 */
/* цвет главного текста шапки и полного фона #FFFFFF */
/* цвет кнопки и акцентов #2196F3 */
/* цвет кнопки фильтра и 4 секции фона #F5F4FA */
/* фон футера и 1 секции #2F303A */

/* INDEX HTML STUDIO */ /* INDEX HTML STUDIO */ /* INDEX HTML STUDIO */ /* INDEX HTML STUDIO */ /* INDEX HTML STUDIO */

/* INDEX HTML STUDIO */ /* INDEX HTML STUDIO */ /* INDEX HTML STUDIO */ /* INDEX HTML STUDIO */ /* INDEX HTML STUDIO */

/* INDEX HTML STUDIO */ /* INDEX HTML STUDIO */ /* INDEX HTML STUDIO */ /* INDEX HTML STUDIO */ /* INDEX HTML STUDIO */

/* INDEX HTML STUDIO */ /* INDEX HTML STUDIO */ /* INDEX HTML STUDIO */ /* INDEX HTML STUDIO */ /* INDEX HTML STUDIO */

/* HEADER */



.header {
  color: #ececec;
  height: 80px;
  /* padding-top: 24px;
  padding-bottom: 25px; */
  border-bottom: 1px solid #ececec;
}

.header a,
.header ul,
.header li,
.header nav {
  height: 100%;
}

.header__elements {
  display: flex;
  align-items: center;
  height: 100%;
}
.logo {
  font-family: "Relawey", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
}

.logo__text {
  color: var(--accent-color);
}

/* NAVIGATION */

.navigation {
  margin-left: 93px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
}

.navigation-list {
  display: flex;
}

.navigation-list__link {
  color: var(--primary-text-color);
  display: flex;
  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list__link:hover,
.navigation-list__link:focus {
  color: var(--accent-color);
}


.navigation-list__item--current {
  color: var(--accent-color);
}


.navigation-list__item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list__item--selected {
  position: relative;
}

.navigation-list__item--selected::after {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.mail-tel {
  display: flex;
  margin-left: auto;
}

.mail-tel__link {
  color: var(--duo-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-tel__link:hover,
.mail-tel__link:focus {
  color: var(--accent-color);
}


/* SVG NAV MAIL-TEL */

.mail-tel__link:hover .mail,
.mail-tel__link:hover .tel,
.mail-tel__link:focus .mail,
.mail-tel__link:focus .tel {
  fill: var(--accent-color);
}

.mail {
  fill: var(--duo-text-color);
  margin-right: 10px;
  height: 12px;
  width: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel {
  fill: var(--duo-text-color);
  margin-right: 10px;
  height: 16px;
  width: 10px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* first section */
.hat {
  background-color: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-futter);
  color: var(--font--color);
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding: 200px 0;

  letter-spacing: 0.06em;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
}

.hat__hero {
  margin: 0 auto 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636;
  text-transform: uppercase;
  max-width: 696px;
}


.hat__button {
  display: block;
  min-width: 216px;
  padding: 10px 32px;
  border-radius: 4px;
  align-items: center;
  margin: 0 auto;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;

  background-color: var(--accent-color);
  color: var(--font--color);
  border: none;
  cursor: pointer;
  text-align: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hat__button:hover,
.hat__button:focus {
    background-color: #188ce8;
}

/* second section */

.hang {
  padding-bottom: 0;
}

.hang-list {
  display: flex;
}

.hang-list__item:not(:last-child) {
  margin-right: 30px;
}


.hang-list__title {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.hang-list__text {
  color: var(--duo-text-color);
  font-size: 14px;
  line-height: 1.7;
}


/* hang-icon */
.hang-icon {
  background: var(--color-filters);
  border-radius: 4px;
  width: 270px;
  height: 120px;
  padding: 25px 100px;
  margin-bottom: 30px;
}

.hang-icon__item {
  width: 70px;
  height: 70px;
}

/* third section */

.ocup-title {
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.occupation-list {
  display: flex;
}

.occupation-list__item:not(:last-child) {
  margin-right: 30px;
}

.occupation-info {
  position: relative;
}

.occupation-list__text {
  padding: 27px 0;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  position: absolute;
  bottom: 4px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--font--color);
}

/* four section */

.team {
  padding-top: 94px;
  padding-bottom: 88px;
  background-color: var(--color-filters);
}

.team__title {
  color: var(--primary-text-color);
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.team-list__title {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.team-list__text {
  color: var(--duo-text-color);
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.team-list {
  display: flex;
}

.team-list__item:not(:last-child) {
  margin-right: 30px;
}

.team-list__item {
  background-color: var(--font--color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__image {
  padding-bottom: 30px;
}

.team-list__title {
  margin-bottom: 10px;
}

.team-list__text {
  margin-bottom: 30px;
}

/* social-icon */
.social-icon {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 30px;
  margin-left: 32px;
  margin-right: 32px;
}

.social-icon__link {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon__list:not(:last-child) {
  margin-right: 10px;
}

.social-icon__item {
  fill: var(--duo-text-color);
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon__link:hover,
.social-icon__link:focus {
  background-color: var(--accent-color);
}

.social-icon__link:hover .social-icon-item,
.social-icon__link:focus .social-icon-item {
  fill: var(--font--color);
}

/* FIFTH SECTION  */

.clients-title {
  color: var(--primary-text-color);
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.clients-list {
  display: flex;
  justify-content: center;
}

.clients-list__link {
  display: inline-block;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 16px 32px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon {
  fill: var(--duo-text-color);
  width: 106px;
  height: 60px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__item:not(:last-child) {
  margin-right: 30px;
}

.clients-list__link:hover .clients__icon,
.clients-list__link:focus .clients__icon {
  fill: var(--accent-color);
}

.clients-list__link:hover {
  border: 1px solid var(--accent-color);
}

/* FOOTER */

/* CELLAR CONTENT  */

.cellar__content {
  display: flex;
  align-items: baseline;
}

.cellar {
  background-color: var(--color-futter);
}

.cellar__link {
  color: var(--font--color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo--size {
  padding-top: 60px;
  padding-bottom: 20px;
}

.adds {
  padding-bottom: 60px;

  color: var(--font--color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}

.adds__item:not(:last-child) {
  padding-bottom: 9px;
}

.cellar__link:hover,
.cellar__link:focus {
  color: var(--accent-color);
}

.cellar__link--grey {
  color: rgba(255, 255, 255, 60%);
}

/* PART CELLAR  */

.part-cellar {
  margin-left: 70px;
}

.cellar-icon {
  display: flex;
}



.cellar-icon__link {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cellar-icon__list:not(:last-child) {
  margin-right: 10px;
}

.cellar-icon__link:hover,
.cellar-icon__link:focus {
  background: none;
  background-color: var(--accent-color);
}
.part-cellar-item {
  fill: var(--font--color);
  width: 20px;
  height: 20px;
}

.part-cellar__title,
.footer-form__title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--font--color);
}

/* FORM-CELLAR */

.footer-form {
  margin-left: 93px;
}

.footer-form__input {
  height: 50px;
  width: 358px;
  padding: 15px 0;
  padding-left: 16px;
  margin-right: 12px;

  background-color: var(--color-futter);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--font--color);
}

.footer-form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-button,
.modal-button {
  height: 50px;
  width: 200px;
  padding: 10px 28px;

  background-color: var(--accent-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus,
.form-button:hover,
.form-button:focus {
  background-color: #188ce8;
}

.form-button__text,
.modal-button__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--font--color);
}

.footer-form__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.form-button__box {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MODAL */

.modal-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);

  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 530px;
  height: 580px;
  position: absolute;
  top: 50%;
  left: 50%;

  background: var(--font--color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  margin-top: 8px;
  margin-right: 5px;
  width: 30px;
  height: 30px;
  background: var(--font--color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.close-button__icon {
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button__icon:hover,
.close-button__icon:focus {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal__title {
  padding: 0 40px;
  padding-top: 40px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* FORM-MODAL */

.modal-form {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
}

.modal-form__input {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: var(--accent-color);

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__box {
  position: relative;
}

.modal-form__icon {
  position: absolute;
  top: 11px;
  bottom: 11px;
  left: 12px;
  transform: translateY(100%);
  width: 18px;
  height: 18px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus,
.modal-form__feedback:focus {
  border: 1px solid var(--accent-color);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__name {
  display: block;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: var(--duo-text-color);
}

.modal-form > .modal-button {
  margin: 0 auto;
  display: block;
}

.modal-form__feedback {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: var(--accent-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__feedback::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 20px;
}

.checkbox__link {
  text-decoration: underline;
  text-underline-position: under;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}



.checkbox__text {
  margin-left: 7px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--duo-text-color);
}

.checkbox__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  border: 2px solid #000;
  border-radius: 2px;
  background-color: transparent;
}

.checkbox__icon {
  width: 12px;
  height: 9px;
  fill: var(--font--color);
}

.checkbox--acept {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.checkbox--acept:checked + .checkbox__wrapper {
  background-color: var(--accent-color);
  fill: var(--font--color);
  border: var(--accent-color);
  fill: var(--font--color);
}

/* PORTFOLIO HTML STUDIO */ /* PORTFOLIO HTML STUDIO */ /* PORTFOLIO HTML STUDIO */ /* PORTFOLIO HTML STUDIO */ /* PORTFOLIO HTML STUDIO */

/* PORTFOLIO HTML STUDIO */ /* PORTFOLIO HTML STUDIO */ /*  PORTFOLIO TML STUDIO */ /* PORTFOLIO HTML STUDIO */ /* PORTFOLIO HTML STUDIO */

/* MAIN */

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters__item:not(:last-child) {
  margin-right: 8px;
}

.filters__button {
  padding: 6px 22px;

  background-color: var(--color-filters);
  color: var(--primary-text-color);
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters__button:hover,
.filters__button:focus {
  background-color: var(--accent-color);
  color: var(--font--color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.posters {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.posters__list {
  flex-basis: calc((100% - 60px) / 3);
  position: relative;
  cursor: pointer;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.posters__list:hover,
.posters__list:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.posters__list {
  box-sizing: border-box;
  letter-spacing: 0.06em;
}

.posters-text__title {
  color: var(--primary-text-color);
  font-size: 18px;
  line-height: 2;
}

.posters__box {
  position: relative;
  overflow: hidden;
}

.posters__info {
  position: absolute;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  bottom: -100%;
  left: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 1);
  background: rgba(33, 150, 243, 0.9);
}

.posters__list:hover .posters__info {
  transform: translateY(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.posters__text {
  padding: 20px 24px;
  border-bottom: 1px solid var(--color-font-posters);
  border-left: 1px solid var(--color-font-posters);
  border-right: 1px solid var(--color-font-posters);
}


.posters-text__filter {
  color: var(--duo-text-color);
  font-size: 16px;
  line-height: 1.9;
}

.posters__img {
  display: block;
  width: 100%;
  height: auto;
}

