
.hang {
  padding-bottom: 0;
}

.hang-list {
  display: flex;

  &__item:not(:last-child) {
  margin-right: 30px;
}

&__title {
  color: $primary-text-color;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  padding-bottom: 10px;
}

&__text {
  color: $duo-text-color;
  font-size: 14px;
  line-height: 1.7;
}
}



/* hang-icon */
.hang-icon {
  background: $color-filters;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  padding: 25px 100px;
  margin-bottom: 30px;

  &__item {
  width: 70px;
  height: 70px;
}

}

